# Merging the Economic and Light Data

### Reading in Data and Preparing to Merge

In [1]:
import pandas as pd
import pickle

econ_df = pd.read_csv('econ_data.csv')
df_lights = pickle.load(open('lights_data_prep.pkl','rb'))

# Renaming columns so that they are an exact match
df_lights.rename({'ADMIN':'Country', 'year':'Year'}, axis=1, inplace=True)

In [2]:
econ_df.head()

,Country,Year,Max_Partners,GDP_per_unit_CO2,PPP_Conv_Rate,PPP_Share_GDP,Imports_PC,Exports_PC,Govt_Revenue,gdp_per_cap,...,agg.empl.agri.perc,rural.pop.perc,pop.tot,mobilesub_per100peeps,intl_tourist_arrival,total_life_exp,life_expectancy_fe,life_exp_male,trade_perGDP,gdp_per_cap_index
0,Albania,1993,75,5.264840,19.912,0.022,0.000000,0.000000,-6.424,1370.830016,...,55.470001,62.201,3227287.0,0.000000,1062000.0,71.860,75.039,69.037,80.518333,100.000000
1,Albania,1994,75,5.542105,26.714,0.023,0.000000,0.000000,-6.424,1493.790201,...,54.841000,61.646,3207536.0,0.000000,1062000.0,71.992,75.158,69.150,53.102585,108.969762
2,Albania,1995,75,6.905429,28.740,0.024,0.000000,0.000000,-6.424,1703.286747,...,54.257000,61.089,3187784.0,0.000000,1062000.0,72.205,75.352,69.347,47.610595,124.252221
3,Albania,1996,75,7.477210,32.344,0.026,-4.943728,-9.512469,-6.424,1869.871255,...,53.958000,60.527,3168033.0,0.074225,1062000.0,72.495,75.618,69.631,44.895427,136.404312
4,Albania,1997,72,8.689693,35.371,0.022,-9.901000,-19.051000,-6.424,1676.131932,...,54.499001,59.965,3148281.0,0.106460,1062000.0,72.838,75.931,69.982,45.425523,122.271318

In [3]:
df_lights.head()

,Country,ISO_A3,cam,mean_light,Year,mean_light_diff,mean_light_pct_diff,mean_light_index
0,Afghanistan,AFG,F101993,0.027943,1993,NaN,NaN,100.000000
1,Afghanistan,AFG,F121994,0.018001,1994,-0.009942,-0.355793,64.420710
2,Afghanistan,AFG,F121995,0.026424,1995,0.008423,0.467920,94.564441
3,Afghanistan,AFG,F121996,0.029921,1996,0.003497,0.132342,107.079330
4,Afghanistan,AFG,F141997,0.026763,1997,-0.003159,-0.105566,95.775431

### Fixing Country Names

In [4]:
### Some of the country names in the two datasets do not match,
### so we need to fix them before merging.

# Country names that appear in Econ data
econ_countries = sorted(list(set(econ_df.iloc[:,0])))

# Country names that appear in OECD data
light_countries = sorted(list(set(df_lights.iloc[:,0])))

# Making csv for me to see what needs to be changed
Same = sorted(list(set(econ_countries).intersection(set(light_countries))))
econ_only = sorted(list(set(econ_countries) - set(light_countries)))
light_only = sorted(list(set(light_countries) - set(econ_countries)))
comparisondf = pd.DataFrame({'Same': pd.Series(Same),
                             'econ_only': pd.Series(econ_only),
                             'light_only': pd.Series(light_only)})
#comparisondf.to_csv('comp.csv')

In [5]:
# Changing names in df_lights to match econ_df
update_dic = {'Bolivia':'Bolivia, Plurinational State of',
              'Brunei':'Brunei Darussalam',
              'Czech Republic':'Czechia',
              'Ivory Coast':"CÃ´te d'Ivoire",
              'South Korea':'Korea, Republic of',
              'Moldova':'Moldova, Republic of',
              'Macedonia':'North Macedonia',
              'Russia':'Russian Federation',
              'Slovak Republic':'Slovakia',
              'United Republic of Tanzania':'Tanzania, United Republic of',
              'United States of America':'United States',
              'Venezuela':'Venezuela, Bolivarian Republic of'}
df_lights = df_lights.replace({"Country": update_dic})
df_lights.sort_values(['Country', 'Year'], inplace=True)
df_lights.reset_index(drop=True, inplace=True)

### Merging

In [6]:
merged = pd.merge(left=econ_df, right=df_lights, how='inner', on=['Country', 'Year'])
merged.head()

,Country,Year,Max_Partners,GDP_per_unit_CO2,PPP_Conv_Rate,PPP_Share_GDP,Imports_PC,Exports_PC,Govt_Revenue,gdp_per_cap,...,life_expectancy_fe,life_exp_male,trade_perGDP,gdp_per_cap_index,ISO_A3,cam,mean_light,mean_light_diff,mean_light_pct_diff,mean_light_index
0,Albania,1993,75,5.264840,19.912,0.022,0.000000,0.000000,-6.424,1370.830016,...,75.039,69.037,80.518333,100.000000,ALB,F101993,0.264269,NaN,NaN,100.000000
1,Albania,1994,75,5.542105,26.714,0.023,0.000000,0.000000,-6.424,1493.790201,...,75.158,69.150,53.102585,108.969762,ALB,F121994,0.815907,0.551638,2.087411,308.741138
2,Albania,1995,75,6.905429,28.740,0.024,0.000000,0.000000,-6.424,1703.286747,...,75.352,69.347,47.610595,124.252221,ALB,F121995,1.253462,0.437554,0.536279,474.312640
3,Albania,1996,75,7.477210,32.344,0.026,-4.943728,-9.512469,-6.424,1869.871255,...,75.618,69.631,44.895427,136.404312,ALB,F121996,1.456427,0.202966,0.161924,551.115338
4,Albania,1997,72,8.689693,35.371,0.022,-9.901000,-19.051000,-6.424,1676.131932,...,75.931,69.982,45.425523,122.271318,ALB,F141997,1.672326,0.215898,0.148238,632.811689

In [7]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2079 entries, 0 to 2078
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                2079 non-null   object
 1   Year                   2079 non-null   int64
 2   Max_Partners           2079 non-null   int64
 3   GDP_per_unit_CO2       2079 non-null   float64
 4   PPP_Conv_Rate          2079 non-null   float64
 5   PPP_Share_GDP          2079 non-null   float64
 6   Imports_PC             2079 non-null   float64
 7   Exports_PC             2079 non-null   float64
 8   Govt_Revenue           2079 non-null   float64
 9   gdp_per_cap            2079 non-null   float64
 10  agri_perc_gdp          2079 non-null   float64
 11  agg.empl.agri.perc     2079 non-null   float64
 12  rural.pop.perc         2079 non-null   float64
 13  pop.tot                2079 non-null   float64
 14  mobilesub_per100peeps  2079 non-null   float64
 15  intl_tourist_arrival   2079 non-null   float64
 16  total_life_exp         2079 non-null   float64
 17  life_expectancy_fe     2079 non-null   float64
 18  life_exp_male          2079 non-null   float64
 19  trade_perGDP           2079 non-null   float64
 20  gdp_per_cap_index      2079 non-null   float64
 21  ISO_A3                 2079 non-null   object
 22  cam                    2079 non-null   object
 23  mean_light             2079 non-null   float64
 24  mean_light_diff        1980 non-null   float64
 25  mean_light_pct_diff    1980 non-null   float64
 26  mean_light_index       2079 non-null   float64
dtypes: float64(22), int64(2), object(3)
memory usage: 454.8+ KB

### Writing to Pickle

In [8]:
merged.to_pickle('merged_data.pkl')

### Presentation Scatterplot

In [9]:
merged.gdp_per_cap.describe()

count      2079.000000
mean      16097.383031
std       19554.218630
min         178.801690
25%        2371.831862
50%        7067.620550
75%       25046.871462
max      111968.349501
Name: gdp_per_cap, dtype: float64

In [10]:
merged.gdp_per_cap_index.describe()

count    2079.000000
mean      132.842970
std        44.776115
min        55.488773
25%       106.378772
50%       121.729499
75%       143.103954
max       571.971202
Name: gdp_per_cap_index, dtype: float64

In [ ]:
import plotly.express as px
import plotly
fig = px.scatter(merged[merged['Year'] == 1993], x = 'mean_light', y = 'gdp_per_cap', animation_group="Country")

fig.show()

In [ ]:
fig = px.scatter(merged, x="mean_light", y="gdp_per_cap", animation_frame="Year", animation_group="Country",hover_name="Country",
           range_x=[0,70], range_y=[150,120000], title='Relationship between mean light and gdp per capita')
fig.show()

In [ ]:
plotly.offline.plot(fig, filename='light_gdp.html')